section {
    max-width: 1176px;
    margin: 30px auto;
}

.ribbon, .ribbon__item {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ribbon {
    background-color: #fff;
    border-left: solid 1px #666;
    border-top: solid 1px #666;
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.ribbon__item {
    border-bottom: solid 1px #666;
    border-right: solid 1px #666;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
    padding: 0 13px;
    width: 100%;
    text-align: center;
}

.ribbon__item.active {
    border-bottom: solid 3px red;
}

@media (min-width: 786px) {

}

@media (min-width: 1000px) {

}

@media (min-width: 1200px) {

}
