<div class="ribbon">
    <ul class="ribbon__container">
        <li class="ribbon__item">Toronto Raptors</li>
        <li class="ribbon__item">Bucks</li>
        <li class="ribbon__item">Lakers</li>
        <li class="ribbon__item">Heat</li>
        <li class="ribbon__item">Nuggets</li>
        <li class="ribbon__item">Jazz</li>
        <li class="ribbon__item">Portland Trail Blazers</li>
        <li class="ribbon__item">Phoenix Suns</li>
        <li class="ribbon__item">New Jersey Nets</li>
        <li class="ribbon__item">San Antonio Spurs</li>
    </ul>
    <span class="ribbon__button ribbon--previous ribbon--button-disabled"><</span>
    <span class="ribbon__button ribbon--next">></span>
</div>

<script>
    document.querySelector('.ribbon').addEventListener('ribbon-item-click', function (e) {
        e.stopImmediatePropagation();
        console.log(e.detail);        
    });
</script>
