<section>
    <div class="ribbonContainer">
        <ul class="ribbon">
            <li class="ribbon__item">Raptors</li>
            <li class="ribbon__item">Bucks</li>
            <li class="ribbon__item">Lakers</li>
            <li class="ribbon__item active">Heat</li>
            <li class="ribbon__item">Nuggets</li>
            <li class="ribbon__item">Jazz</li>
            <li class="ribbon__item">Trail Blazers</li>
            <li class="ribbon__item">Suns</li>
            <li class="ribbon__item">Nets</li>
            <li class="ribbon__item">Spurs</li>
        </ul>
    </div>
</section>